@model ProductContentSearchModel
@using Nop.Core.Domain.Catalog;

@{
    //page title
    ViewBag.PageTitle = T("Admin.Product.Contents").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("ProductContents");
}

<form asp-controller="Product" asp-action="ProductContentsList" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Product.Contents")
        </h1>
        <div class="pull-right">
            <a asp-action="CreateEditProductContents" class="btn bg-blue">
                <i class="fa fa-plus-square"></i>
                @T("Admin.Common.AddNew")
            </a>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row search-row">
                            <div class="search-text">@T("Admin.Common.Search")</div>
                            <div class="icon-search"><i class="fa fa-search" aria-hidden="true"></i></div>
                        </div>

                        <div class="search-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <nop-label asp-for="ProductContentTypeId" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-select asp-for="ProductContentTypeId" asp-items="Model.ProductContentTypes" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <nop-label asp-for="SearchTitle" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="SearchTitle" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-8 col-md-offset-4">
                                            <button type="button" id="search-productcontents" class="btn btn-primary btn-search">
                                                <i class="fa fa-search"></i>
                                                @T("Admin.Common.Search")
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        @await Html.PartialAsync("Table", new DataTablesModel {
                       Name = "productcontents-grid",
                       UrlRead = new DataUrl("ProductContentsList", "Product", null),
                       UrlDelete = new DataUrl("ProductContentDelete", "Product", null),
                       SearchButtonId = "search-productcontents",
                       Length = Model.PageSize,
                       LengthMenu = Model.AvailablePageSizes,
                       Filters = new List<FilterParameter>
                        {
                            new FilterParameter(nameof(Model.ProductContentTypeId)),
                            new FilterParameter(nameof(Model.SearchTitle))
                        },
                       ColumnCollection = new List<ColumnProperty>
                                {
                                    new ColumnProperty(nameof(ProductContentModel.ProductContentTypeName))
                                    {
                                        Title = T("Admin.Product.Content.ContentType").Text,
                                        Width = "150"
                                    },
                                    new ColumnProperty(nameof(ProductContentModel.Title))
                                    {
                                        Title = T("Admin.Product.Content.Title").Text,
                                        Width = "150"
                                    },
                                    new ColumnProperty(nameof(ProductContentModel.Link))
                                    {
                                        Title = T("Admin.Product.Content.Link").Text,
                                        Width = "150",
                                        Render = new RenderCustom("renderColumnLink")
                                    },
                                    new ColumnProperty(nameof(ProductContentModel.IsActive))
                                    {
                                        Title = T("Admin.Product.Content.IsActive").Text,
                                        Width = "100",
                                        ClassName =  NopColumnClassDefaults.CenterAll,
                                        Render = new RenderBoolean()
                                    },
                                    new ColumnProperty(nameof(ProductContentModel.Id))
                                    {
                                        Title = T("Admin.Common.Edit").Text,
                                        Width = "100",
                                        ClassName =  NopColumnClassDefaults.Button,
                                        Render = new RenderButtonEdit(new DataUrl("CreateEditProductContents"))
                                    },
                                    new ColumnProperty(nameof(ProductContentModel.Id))
                                    {
                                        Title = T("Admin.Common.Delete").Text,
                                        Width = "100",
                                        Render = new RenderButtonRemove(T("Admin.Common.Delete").Text),
                                        ClassName = NopColumnClassDefaults.Button
                                    }
                                }
                   })
                    </div>
                    <script>
                        function renderColumnLink(data, type, row, meta) {
                            return '<a href="' + row.Link + '">' + row.Link + '</a>';
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</form>
