/*=====================================================
    
    TABLETS PORTRAIT & SMARTPHONES LANDSCAPE

=====================================================*/

@media all and (min-width: 481px) {
	
/* HEADER */

    .search-box input.search-box-text{
	    width: 300px !important;
    }
    .ui-autocomplete.ui-menu.ui-widget.ui-widget-content{
	    width: 300px !important;
    }
    .eu-cookie-bar-notification{
	    width: 450px;
	    max-width: 95%;
	    margin-right: -225px;
    }

/* FOOTER */

    .newsletter-email input[type="text"],
    .newsletter-email input[type="email"] {
        width: 300px;
    }

/* CATEGORY PAGE & GRIDS */

    .item-box{
	    float: right;
    }
    .product-grid .item-box,
    .product-list .item-box,
    .manufacturer-grid .item-box,
    .search-results .product-list .item-box, 
    .vendor-grid .item-box {
	    width: 49.75%;
	    margin-right: .5%;
	    max-width: none;
    }
        .home-page-category-grid .item-box,
        .sub-category-grid .item-box{
	        margin: 0 .5% 1%;
	        width: 49%;
        }

/* QUICK TABS */

    .ui-tabs .ui-tabs-nav li{
	    width: 33.33333%;
	    float: right;
    }
    .ui-tabs .ui-tabs-nav li a{
	    margin-right: 3px;
    }
    .ui-tabs .ui-tabs-nav li:nth-child(3n+1) a{
	    margin-right: 0;
    }

/* PASSWORD PROTECTION */

    .enter-password-form input[type="password"]{
	    width: 300px !important;
    }

/* REGISTRATION, LOGIN, MY ACCOUNT */

    .registration-page .fieldset:nth-child(2) select,
    .account-page .fieldset:nth-child(3) select{
	    width: 110px;
    }

/* SHOPPING CART & CHECKOUT */

    .checkout-page .address-item{
	    margin: 0 1% 20px;
	    max-width: none;
	    width: 48%;
	    float: right;
    }

    .order-review-data{
	    display: table;
	    width: 100%;
	    margin: 0 0 30px;
    }
    .order-review-data ul{
	    display: table-cell;
    }
    .order-details-area ul{
	    width: 50%;
    }
    .shipment-details-page .shipment-overview > ul{
	    float: right;
	    width: 48%;
	    margin: 0 1% !important;
    }

/* POLLS */

    .polls-centering .poll{
	    float: right;
	    display: block;
	    width: 50%;
	    padding: 0 20px;
	    min-width: 0;
    }

}

@media all and (min-width: 481px) and (max-width: 768px) {

    .product-grid .item-box:nth-child(2n+1),
    .product-list .item-box:nth-child(2n+1),
    .manufacturer-grid .item-box:nth-child(2n+1),
    .search-results .product-list .item-box:nth-child(2n+1),
    .vendor-grid .item-box:nth-child(2n+1) {
	    clear: both;
	    margin-right: 0;
    }

/* BLOCKS */

    .side-2 .block{
	    width: 49%;
	    margin: 0 .5% 1%;
	    float: right;
    }
        .side-2 .block:nth-of-type(2n+1){
	        clear: both;
        }

/* MY ACCOUNT */

    .account-page .address-item,
    .account-page .order-item{
	    float: right;
	    width: 49%;
	    margin: 0 1% 3% 0;
    }
        .account-page .address-item:nth-child(2n+1),
        .account-page .order-item:nth-child(2n+1){
	        margin-right: 0;
	        clear: both;
        }

}


@media all and (min-width: 560px) {

    .news-items .news-item{
	    float: right;
	    width: 49%;
	    margin: 0 2% 2% 0;
    }
    .news-items .news-item:nth-child(2n+1){
	    margin-right: 0;
    }
    .news-list-homepage .view-all{
	    clear: both;
    }

}

@media all and (min-width: 680px) {

/* NEWSLETTER */

    .newsletter .title{
	    text-align: right;
        width: 315px;
        margin: 0 auto 10px;
    }
    .newsletter{
	    padding: 45px 0;
    }
    .newsletter-subscribe{
	    padding: 0 115px 0 0;
    }
    .newsletter-subscribe:before{
	    top: 50%;
	    left: auto;
	    margin-top: -65px;
    }
    .newsletter-email input[type="text"],
    .newsletter-email input[type="email"] {
	    margin: 0;
    }
    .newsletter-email input[type="button"]{
	    float: right;
	    clear: none;
	    margin: 2px 20px 0 0;
    }

}